<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up confirmation</title>
</head>
<body>
    <div>
        
        <p>Hello <%= name %> ,</p>
        <p>Thank you for joining our website.</p>
        <p>We’d like to confirm that your account was created successfully.</p> 
        <div><a href="<%= link %> ">Please click here to confirm your registration</a></div>
        <p>If you experience any issues logging into your account, reach out to us at email.</p>
        <p> Best,<br> team</p>
       
    </div>
</body>
</html>