// Here you can add other styles
a{
    text-decoration: none;
}
.pagination {
    text-decoration: none;  
    list-style: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-num{
    font-size: 1rem;
    border-radius: 3px;
    min-width: 3rem;
    height: 3rem;
    padding: 3px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination .page-num:hover{
    background-color: #17a2b8;
    color: #fff;
}

.activePage {
    background-color:  #17a2b8;
    color: #fff;
}

.carousel-indicators {
    display: none;
}


.carousel-control-next-icon {
  height: 80px;
  width: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
    height: 80px;
     width: 50px;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}